body {
  background:#f3f3f3;
  background-image: url("https://cdn.glitch.com/36ca45c9-34d1-4293-a7fb-5e7df0257ce1%2Frecipe_research_background.jpg?1558434929599");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 1550px 1800px;
}

*{
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 220px;
  width: 350px;
}

a {
  color: red;
}

#login_text{
  color: black;
}

a:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:hover{
  text-decoration:underline;
}

@media (max-width: 2000px) {
  
body {
  background:#f3f3f3;
  background-image: url("https://cdn.glitch.com/36ca45c9-34d1-4293-a7fb-5e7df0257ce1%2Frecipe_research_background.jpg?1558434929599");
  background-attachment: fixed;
  background-size: 1550px 1250px;
}  
  
.explain_text{
  position: absolute;
  text-align: center;
  top: 300px;
  right: 300px;
}

.link_button{
  margin-top:10px;
}

.topright{
  position: absolute;
  top: 70px;
  right: 70px;
 }
  
 #testing_text{
  text-align: center;
  top: 25px;
  left: 50px;
  color: #f3f3f3;
  font-family: impact;
  text-shadow: 2px 2px red;
  position: absolute;
  
  }
  
  #login_text{
    top: 50px;
    right: 50px;
    text-align: center;
  }
  
.welcome_text{
  width: 200px;
  }
  
.App {
  text-align: center;
}

.App-header {
  background-color: #2c3e50;
  height: 170px;
  padding: 10px;
  color: #f3f3f3;
  margin-bottom: 1.5em;
  font-family: impact;
  
}

.App-title {
  font-size: 3.5em;
  margin-bottom: 0;
  text-shadow: 2px 2px red;
  text-align: left;
  margin-top: -10px;
}

.recipe_buttons {
  border: solid 2px red;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
  cursor: pointer;
}

.recipes__box {
  background: #fff;
  padding-bottom: 1.8rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
  width: 350px;
  height: 390px;
  margin-bottom: 30px;
  display: inline-block;
}

.recipe__text {
  margin-left: 15px;
}

.recipes__title {
  color: red;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1.0rem 0 0.2rem 0;
  margin: 0 0 0 0;
}

.recipes__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.recipes__subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.form__input {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #f3f3f3;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 30%;
  padding: 0.4rem;
  font-size: 20px;
}

.form__button {
  border: solid 2px red;
  background: #f3f3f3;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
  cursor: pointer;
}

input[type="text"] { 
  outline: none;
  color: #f3f3f3;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

/******** RECIPE.js ********/

.active-recipe {
  margin: 0 auto;
  width: 60%;
}

.active-recipe__img {
  height: 500px;
  width: 100%;
}

.active-recipe__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1rem 0;
  color: #f3f3f3;
  text-shadow: 2px 2px red;
  text-align: center;
}

.active-recipe__publisher, .active-recipe__website {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #f3f3f3;
  text-align: center;
}
  
.active-recipe__publisher{
  text-shadow: 2px 2px red;
}
  
.active-recipe__website {
  text-shadow: 2px 2px black;
}

.active-recipe__publisher span {
  text-transform: none;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 5px;
  color: #f3f3f3;
}

.active-recipe__website span {
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: red;
  margin-left: 10px;
}

.active-recipe__button {
  border: solid 2px red;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #f3f3f3;
  margin-left: 40%;
}

.col-md-4{
  max-width: 33.3333%;
  flex: 0 0 33%;
  width: 100%;
  height: 350px;
  display: block;
  margin-bottom: 5rem;
}

.row{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  
}
  
h2{
  text-align: center;
  font-size: 3.5em;
  margin-top: -10px;
  margin-bottom: 100px;
  color: #f3f3f3;
  text-shadow: 2px 2px red;
  font-family: impact;
}
  
.labels{
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 200px;
  color: #f3f3f3;
  text-shadow: 2px 2px red;
  font-family: impact;
}
  
input[type=_text], input[type=password]{
  width: 50%;
  padding: 15px;
  margin: 5px 0 30px 200px;
  display: inline-block;
  border: none;
  background: #f1f1f1;  
 }
  
input[type=_text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
  
.form-error{
  color: red;
  margin: 8px 0 0 400px;
  }
  
.registerbtn {
  background-color: #366492;
  color: white;
  padding: 16px 20px;
  margin: 8px 0 0 200px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}
  
.signin {
  background-color: #f1f1f1;
  width: 350px;
  margin: 8px 0 0 200px;
  text-align: center;
}
}
  
  @media (max-width: 1110px) {
    .recipes__box{
      width: 320px;
    }
  }
  
  @media (max-width: 1050px) {
    .recipes__box{
      width: 260px;
    }
    .link_button{
      height: 60px;
      width: 100px;
    }
  }
  
  @media (max-width: 800px) {
  
    body{
      background-size: 800px auto;
    }
    
    #testing_text {
    top: 140px;
    right: 20px;
  }
    
    .col-md-4{
      max-width: 33.3333%;
      flex: 0 0 33%;
      width: 100%;
      height: 350px;
      display: block;
      margin-bottom: 5rem;
    }
    
    .topright{
      top: 100px;
      right: 40px;
    }
    
    #login_text{
      top: 90px;
    }
    
    .recipes__box{
      width: 220px;
    }
    
    .signin, .registerbtn, .form-error, .labels, input[type=_text], input[type=password] {
      margin-left: 200px;
    }
    
    h2{
      font-size: 2.5em;
      margin-top: 10px;
    }
    
    .form__input{
      width: 20%;
    }
    
    .explain_text{
      right: 60px;
    }
    
    #testing_text{
      left: 30px;
    }
    
    .active-recipe__img{
      height: 100%;
    }
    
    
  }
  
  @media (max-width: 730px) {
  
    .col-md-4{
      max-width: 50%;
      flex: 0 0 50%;
      width: 100%;
      height: 350px;
      display: block;
      margin-bottom: 5rem;
    }
  
  }

@media (max-width: 600px){
  .signin, .registerbtn, .form-error, .labels, input[type=_text], input[type=password] {
      margin-left: 0px;
    }
  
  #login_text{
      right: 10px;
    }
}
  
  @media (max-width: 480px) {
  
    h2{
      font-size: 1.8em;
      margin-top: -5px;
    }
    
    #testing_text {
    top: 140px;
    right: 20px;
  }
    
    .topright{
      right: 10px;
    }
    
    .recipes__box{
      width: 320px;
      margin-left: -8px;
    }
    
    .topright{
      top: 75px;
    }
    
    .App-title{
      font-size: 1.5em;
      margin-top: 10px;
     }
    
    .link_button{
      font-size: 14px;
      width: 80px;
      height: 50px;
    }
    
    #login_text{
      right: 0px;
    }
    
    .col-md-4{
      max-width: 60%;
      flex: 0 0 100%;
      height: none;
    }
    
    .row{
      position: relative;
      display: inline-block;
      flex-wrap: wrap;
      margin: 0 0 0 0;
    }
    
    .container{
      display: inline-block;
    }
    
    .form__input{
      width: 30%;
    }
    
    .labels{
      margin-left: 100px;
    }
    
    .signin{
      margin-left: -8px;
      width: 320px;
      
    }
    
    .active-recipe__img{
      height: none;
    }
    
    .active-recipe__website{
      font-size: 15px;
    }
    
    .registerbtn, .form-error, .labels, input[type=_text], input[type=password] {
      margin-left: 100px;
    }
    
    .explain_text{
      right: 0px;
    }
    
    body {
      background-size: 400px auto;
    }
  }

@media (max-width: 360px){
  .topright{
    top: 20px;
    width: 70px;
  }
  
  .link_button{
    top: 20px;
    width: 70px;
  }
}

@media (max-width: 320px){
  .recipes__box{
      width: 300px;
    }
  
  .App-title {
    font-size: 1.5em;
    margin-top: -18px;
  }
  
  #login_text {
    top: 1px;
  }
}
